@import "{{ site.theme }}";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js";
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.no-bullets {
    list-style-type: none;
}

ul.share-buttons{
  list-style: none;
  text-align:center;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  
}
