---
---

@import "{{ site.theme }}";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js";
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
table { border: none; border-spacing: 0; border-collapse: collapse; }
body {

	background: url(https://github.com/tanyagupta/tanyagupta.github.io/blob/master/li60background.jpg?raw=true) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


ul.share-buttons{
  list-style: none;
  text-align:center;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  
}
