---
---

@import "{{ site.theme }}";
table { border: none; border-spacing: 0; border-collapse: collapse; }
border-style: none;


ul.share-buttons{
  list-style: none;
  text-align:center;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  
}
